body {
    background: linear-gradient(to bottom right, #87CEEB, #FFFAF0);
    color: #333;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 30px;
}

input.form-control, select.form-select {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input.form-control:focus, select.form-select:focus {
    border-color: #66B2FF;
    box-shadow: 0 0 5px rgba(102, 178, 255, 0.5);
}

button.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.weather-result {
    margin-top: 30px;
    text-align: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.weather-result img {
    margin-top: 20px;
    width: 80px;
}

.list-group-item {
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}
